.grid-container {
    display: grid;
    grid-template-areas: 'header header header header header header' 'column1 column2 column2 column2 column2 column3' 'footer footer footer footer footer footer';
    background-color: #808080
}

.header {
    grid-area: header;
    height: 70px;
    font-size: 30px;
    background-color: blue;
    text-align: center;
}

.column1 {
    grid-area: column1;
    background-color: yellow;
}

.column2 {
    grid-area: column2;
    background-color: darkblue;
    color: white
}

.column3 {
    grid-area: column3;
    background-color: lightgreen;
}

.footer {
    grid-area: footer;
    background-color: darkgreen;
}
